@charset "utf-8";
/* Global Styles */
a:hover {
	color: rgba(255,255,255,1.00);
}
/* Logo placeholder*/
#logo {
	font-family: 'Montserrat', sans-serif;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: #152A65;
}
/* New Updates banner*/
#offer {
	font-family: 'Montserrat', sans-serif;
	clear: both;
	background-image: url("../../ecommerceassets/images/Galaxy.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #010614;
	color: rgba(255,255,255,1.00);
	padding-left: 115px;
	padding-top: 57px;
	padding-bottom: 57px;
}
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}
#mainWrapper {
	width: 80%;
	padding-left: 10%;
}
#content .mainContent .productRow {
	overflow: auto;
	color: rgba(146,146,146,1.00);
}
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 22%;
}

/* view buttons */
.productRow .productInfo .buyButton 
	{
	position: relative;
	top: -48px;
	width: 84%;
	height: 35px;
	color: rgba(#010614);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
	}
.buyButton:hover {background-color: #010614;
  color: white;}

/* footer */
#mainWrapper footer {
	clear: both;
	overflow: auto;
	background-color: rgba(208,207,207,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 22px;
	padding-left: 22px;
	text-align: center;
	padding-bottom: 22px;
	padding-right: 22px;
	color: rgba(255,255,255,1.00);
}

/* update banner content */
#mainWrapper #offer p {
	font-size: small;
}
/* main content region of page */
#mainWrapper #content .mainContent {
	overflow: hidden;
	width: 95%;
	margin-top: 40px;
}

/* Footer region */
#mainWrapper footer {
	padding-left: 16px;
	overflow: hidden;
}

/*media query for small screen devices */
@media screen and (max-width:480px) {

/* Logo placeholder*/
#mainWrapper header #logo {
	width: 100%;
	text-align: center;
}

/*Offer - Text Banner */
#mainWrapper #offer {
	padding-left: 0px;
	text-align: center;
}

/* Each product in catalog view */
.mainContent .productRow .productInfo {
	width: 100%;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: -2%;
}
#mainWrapper footer div {
	width: 100%;
	margin-left: -16px;
	text-align: justify;
	padding-bottom: 16px;
	overflow: auto;
}
/* Unordered list for menu elements */
.menu ul {
	position: relative;
	padding-left: 24%;
}
/* Main content which excludes the sidebar */
#mainwrapper #content .mainContent {
	margin-top: -81px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
}
}
